In [1]:
from load_data_cobeen import run

In [2]:
df = run()

Index(['Bed_Space', 'Rm_Type_Desc', 'Last_Name', 'First_Name', 'University_ID',
       'Default_Email', 'Age'],
      dtype='object')

In [3]:
df

,Bed_Space,Rm_Type_Desc,Last_Name,First_Name,University_ID,Default_Email,Age
0,CO-0201a,Staff Room,Barry,Dominic,6203053.0,dominic.barry@marquette.edu,21.0
1,CO-0203a,CO1 Single,O'Hear,Daniel,6226808.0,daniel.ohear@marquette.edu,19.0
2,CO-0204a,CO4 Quad,Guerzon,Max,6243421.0,maxwell.guerzon@marquette.edu,18.0
3,CO-0204b,CO4 Quad,Chapa,Phillip,6242308.0,phillip.chapa@marquette.edu,18.0
4,CO-0204c,CO4 Quad,Dickmann,Michael,6251220.0,michael.dickmann@marquette.edu,20.0
...,...,...,...,...,...,...,...
365,CO-0829b,CO2 Double,Sawasciuk,Julia,6246043.0,julia.sawasciuk@marquette.edu,19.0
366,CO-0830a,CO2 Double,Triplett,Imunique,6235584.0,imunique.triplett@marquette.edu,18.0
367,CO-0830b,CO2 Double,Luckett-Patterson,Zariah,6165701.0,zariah.luckett-patterson@marquette.edu,18.0
368,CO-0831a,CO2 Double,von Wolffradt,Audrey,6247371.0,audrey.vonwolffradt@marquette.edu,19.0
369,CO-0831b,CO2 Double,Philbin,Bella,6249289.0,isabella.philbin@marquette.edu,19.0